@page "/"
    <head>
        <style>
            .Disable
            {
                display: none;
            }
            .Entrada{
                display: inline-block;
                padding: 5px;
                align-items: center;
            }
            .Entrada input{
                border-radius: 50px;
                background-color:#D9D9D9;
                border-color: #D9D9D9;
                border: 15px;
                margin: 5px;
            }
            .btn
            {
                margin: 10px;
            }
            
        </style>




    </head>



<body>


    <h1>Calculadora de iteraciones </h1>

    <div class="@Estado"> 
    <div class="Entrada">
        <label for="x1">Valor xi </label>
        <input type="number" @bind="iteracion.X1" id="x1">
    </div>

    <div class="Entrada">
        <label for="x0">Valor xi-i </label>
        <input type="number" @bind="iteracion.X0" id="x0">
    </div>
    </div>
<button type="button" class="btn btn-primary" @onclick="Nuevaiteracion">Calcular Valor</button>

<table class="table table-bordered table-striped" style="border-color: #edecec;">
    <thead style="background-color:  #0096c7;">
        <tr>
            <th>i</th>
            <th>xi</th>
            <th>xi-i</th>
            <th>Fx(xi)</th>
            <th>Fx(xi-i)</th>
            <th>Raiz</th>
            <th>Error</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in iteraciones)
        {
            <tr>
                <td></td>
                <td>@item.X1</td>
                <td>@item.X0</td>
                <td>@item.Fx1</td>
                <td>@item.Fx0</td>
                <td>@item.X</td>
                <td>@item.Error%</td>
            </tr>
        }
    </tbody>
</table>
<iframe src="file:///C:/Users/SUNXOUL/Documents/Clases/Secante/Pages/index.html" frameborder="8" width="100%" height="100%"></iframe>

</body>

@code{
    public Iteracion iteracion = new Iteracion(0,0);
    public List<Iteracion> iteraciones = new List<Iteracion>();
    public int Error {get;set;} = 1;
    public int Cantidad{ get; set; } = 0;

    public string Estado { get; set; } ="";
    
    public void Nuevaiteracion()
    {
        Estado = "Disable";
        iteracion.CalcularNueva();
        iteraciones.Add(iteracion);
        iteracion = new Iteracion(iteracion.X,iteracion.X1);
    }
}

